.E-B-box1 img {
    object-fit: cover;
    object-position: center;
    width: 30px;
    height: 30px;
  }

  .E-B-container1 {
    background-color: #4525f2;
    height: 100vh;
    padding: 15% 20%;
    text-align: center;
  }

  .E-B-box1 {
    border-radius: 10px;
    box-shadow: #0000002f 0px 0px 10px 10px;
    padding: 5%;
  }

  .E-B-btn1 {
    border-radius: 3px;
    /* border-bottom: none;
                  border-top: none; */
    padding: 7px 20px;
    background-color: #4525f2;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    border: white double;
  }

  @media (max-width: 920px) {
    .E-B-container1 {
    padding: 30% 10%;
  }
  .E-B-btn1{
    margin-top: 30px;

  }
  }
  @media (max-width: 550px) {
    .E-B-container1 {
    padding: 30% 5%;
  }
  }