@media only screen  and (max-width:350px) and (min-width:282px){
    .E-12-navbar h5{
      font-size: 15px;
    }
   }
   @media only screen  and (max-width:281px){
     .E-12-navbar{
       width: 110% !important;
       font-size: 10px;
     }
     .E-12-box2 input{
   width: 65% !important;}
 .E-12-product-section{
   width: 68% !important;
 }
   }
   @media only screen  and (max-width:700px) and (min-width:319px){
     .E-12-box2 input{
   width: 73% !important;}
 .E-12-product-section{
   width: 75% !important;
 }
}

   @media only screen  and (min-width:767px){
   
     .E-12-navbar2{
       margin-top: 120px !important;
       height: 400px !important;
     }
     .E-12-box2 .E-12-btn2{
       margin-left: 43% !important;
     }
   }
    /* ------end------- */
  
   .E-12-product-section label{
     font-size:15px ;
     margin-left: 3% !important;
     margin-bottom: 10px;
   }
   .E-12-product-section {
     background: rgba(196, 196, 196, 0.5);
     border-radius: 50px;
     padding: 20px;
     margin-left: 2%;
     height: 5%;
     margin-right: 2%;
     margin-top: 10px;
     width: 85%;
     padding-bottom: 40px;
   }


   .E-12-box2 label{
 font-weight: bold;
 margin-left: 5%;
}
   .E-12-navbar {
     background-color: blue;
     width: 100%;
     height: 100px;
     z-index: 5;
   }
   .E-12-navbar h5,
   .E-12-navbar p {
     margin-left: 260px;
     color: #fff;
   }
   .E-12-container1 span img {
     height: 80px;
     object-fit: cover;
     object-position: center;
     position: absolute;
     top: 10px;
     left: 6%;
     background-color: rgb(120, 120, 120);
     border-radius: 40px;
     z-index: 8;
   }
   .E-12-navbar2 {
     position: absolute;
     margin-top: 120px ;
       height: 400px ;
   width: 55px;
   right: 0px;
   margin-right: 1%;
   border-radius: 40px;
   background-color: #4425f27e;
   box-shadow: 0px 4px 50px rgb(0 0 0 / 40%);
   backdrop-filter: blur(40px);
   z-index: 5;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   }
.E-12-navbar2 img{
                  width: 30px;
             }
   .E-12-box2 {
     margin-left: 10%;
     margin-top: 30px;
   }

   .E-12-box2 input {
     border-radius: 20px;
     border: 1px solid #d4d4d4;
     padding: 25px;
     margin: 20px;
     margin-top: 10px;
     width:85%;
     height: 30px;
  
     box-shadow: rgba(0, 0, 0, 0.217) 0px 0px 15px 0px;
   }



.E-12-box2 label{
 font-weight: bold;
}

   .E-12-box2 img {
     width: 15%;
     border-radius: 10px;
     height: 50px;
     border: 1px solid black;
     /* margin-top: 20px; */
   }

   .E-12-box2 .E-12-btn1 {
    border-radius: 20px;
    padding: 7px 20px;
    margin-top: 4px;
    border: #4525f2 1px solid;
    background-color: #4525f2;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-left: 43%;
  }

   .E-12-box2 .E-12-btn2 {
     border-radius: 30px;
     padding: 7px 20px;
     font-weight: bold;
     color: #4525f2;
     text-align: center;
     margin-left: 35%;
     border: none;
     margin-top: 3px;
     background-color: #fff;
   }
   .E-12-notification span{
     color: wheat;
   }
   .E-12-notification {
    background-color: grey;
    color: black;
    
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-left: 90%;
    top:-50px;
  }
  
  .E-12-notification:hover {
    background: black;
  }
  
  .E-12-notification .E-12-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;

    background:white;
    color: black;
  }
