@media only screen and (max-width:361px) and (min-width:359px) {
  .E-17-box2{
    width:110% !important;
  }
}
@media only screen and (max-width:769px) and (min-width:767px) {
  .E-17-box2{
    width:95% !important;
  }
  .E-17-navbar2{
    height:45% !important;
    margin-top: 10% !important;
  }
}
@media only screen and (max-width:1281px) and (min-width:1279px) {
  .E-17-navbar2{
    height:57% !important;
    margin-top: 7% !important;
  }
}
@media only screen and (max-width:1025px) and (min-width:1024px) {
  .E-17-box2{
    width:95% !important;
  }
  .E-17-navbar2{
    height:75% !important;
    margin-top: 8% !important;
  }
}
@media only screen and (max-width:281px) and (min-width:279px) {
  .E-17-box2{
    width:140% !important;
  }
 
  .E-17-navbar2{
    height:45% !important;
    margin-top: 15% !important;
  }
}
@media only screen and (max-width:541px) and (min-width:539px) {
  .E-17-box2{
    width:88% !important;
  }
 
  .E-17-navbar2{
    height:64% !important;
    margin-top: 15% !important;
  }
}
@media only screen and (max-width:913px) and (min-width:911px) {
  .E-17-box2{
    width:105% !important;
  }
  .E-17-navbar2{
    height:34% !important;
    margin-top: 8% !important;
  }
}
@media only screen and (max-width:376px) and (min-width:374px) {
  .E-17-navbar2{
    height:60% !important;
  }
}
@media only screen and (max-width:415px) and (min-width:411px) {
  .E-17-box2{
    width:95% !important;
  }
  .E-17-navbar2{
    height:49% !important;
  }
}
@media only screen and (max-width:821px) and (min-width:819px) {
  .E-17-navbar2{
    margin-top:10% !important;
    height:40% !important;
  }
  .E-17-box2{
    width:98% !important;
  }
}
/* -----end------ */
body{
  background-color: #4525f2;
}
.E-17-box1{
    display: inline-flex;
    align-items: center;
    margin: 20px;
}
.E-17-box1 h2{
    margin-right: 20px;
}
.E-17-box1 input{
    border-radius: 10px;
    border: 0px;
}
.E-17-box1 img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}
.E-17-box2{
  background: #FFFFFF;
  border-radius: 50px;
  padding: 30px;
}
.E-17-box2 h4{
  padding: 10px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4.E-17-49056px 44.E-17-9056px rgba(0, 0, 0, 0.E-17-2);
}
.E-17-name-section img{
  width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}
.E-17-name-section{
    display: flex;
    flex-direction: column;
}
.E-17-name-section span{
  border-bottom: 1px solid #ABABAB;
  margin: 10px;
}
.E-17-btn2{
          border-radius: 30px;
          padding: 7px 20px;
          font-weight: bold;
          color:  #4525f2;
          text-align: center; 
          margin-left: 44%;  
          border: none;
          margin-top: 3px;
          background-color: #fff;
      }
      .E-17-btn2 {
        border-radius: 20px;
        padding: 7px 20px;
        margin-top: 4px;
        border: #4525f2 1px solid;
        background-color: #4525f2;
        font-weight: bold;
        color: #fff;
        /* text-align: center; */
        margin-left: 2%;
        text-decoration: none;
      }        
      .E-17-btn3 {
        border-radius: 20px;
        padding: 7px 20px;
        margin-top: 4px;
        border: #4525f2 1px solid;
        background-color: #fff;
        font-weight: bold;
        color: #4525f2;
        text-decoration: none;
        /* text-align: center; */
        margin-left: 3%;
      }
      .E-17-navbar2{
        position:fixed;
width: 55px;
height: 50%;
right: 0px;
margin-top: 15%;
margin-right: 1%;
border-radius: 40px;
background-color: #4425f27e;
box-shadow: 0px 4px 50px rgb(0 0 0 / 40%);
backdrop-filter: blur(40px);
z-index: 5;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
        }
        .E-17-col-6 {
          width: 100% !important;
      }
        .E-17-box2 .E-17-btn1 {
          border-radius: 20px;
          padding: 7px 20px;
          margin-top: 4px;
          border: #4525f2 1px solid;
          background-color: #4525f2;
          font-weight: bold;
          color: #fff;
          text-align: center;
          margin-left: 43%;
        }

      .E-17-navbar2 img{
         width: 30px;
    }


