* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .root {
    align-items: center;
    
    height: 100vh;
  }
  
  .EMpyClgbixBox {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 86rem;
    height: 46rem;
    z-index: 23;
    background-color: #4525F2;
    border-radius: 2em;
  }
  
  .EMpyClgquarterC {
    width: 10rem;
    height: 10rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 100%;
    background-color: #5a41e5;
  
  }
  
  .EMpyClgsmallC2 {
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: 5rem;
    right: 4%;
    background-color: #5a41e5;
    border-radius: 50%;
    position: fixed;
  
  }
  
  .EMpyClgsmallC1 {
    position: absolute;
    height: 5rem;
    width: 5rem;
    bottom: 12px;
    left: 10px;
    background-color: #5a41e5;
    border-radius: 50%;
    position: fixed;
  
  }
  
  .EMpyClgStudentPoster {
    position: relative;
    left: 58%;
    top: 3%;
    height: 90%;
    width: 40%;
    background-image: url(./../../../images/empcuate.png);
    background-size: 100% 100%;
  }
  
  .EMpyClgSchoolStudentFrom {
    position: absolute;
    left: 3%;
    top: 5%;
    height: 42rem;
    width: 35rem;
    background: white;
    border-radius: 2rem;
  }
  
  .EMpyClgSchoolStudentFrom h3 {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .EMpyClgbigC {
    position: absolute;
    right: -50px;
    bottom: -50px;
    height: 15rem;
    width: 15rem;
    background-color: #5a41e5;
    border-radius: 50%;
    position: fixed;
  }
  
  .EMpyClgStMobile {
    text-align: center;
  }
  
  .EMpyClgStMobHead {
  
    font-size: 2.4rem;
    margin-top: 32%;
    font-weight: bold;
    /* position: absolute; */
    /* top: 8rem; */
    /* left: 9rem; */
    /* text-align: center; */
  }
  
  .EMpyClgStFrom {
    position: absolute;
    top: 8rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  
  #EMpyClgStBack {
    font-size: 1.3rem;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
  }
  
  #EMpyClgStnext {
    background: blue;
    width: 30%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    color: white;
  }
  
  .EMpyClgStFrom select {
    border: 1px solid black;
    width: 30rem;
    height: 2.5rem;
    border-radius: 1rem;
  }
  
  .EMpyClgMobForm {
    margin: 20px 0px;
    /* position: relative; */
    /* top: 2rem; */
    /* height: 60vh; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
  }
  
  .EMpyClgMobForm select {
  
    width: 80%;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2rem;
    margin-bottom: 25px;
    padding: 12px;
  }
  
  #EMpyClgStMobNext {
    padding: 10px;
    color: white;
    background: blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  }
  
  
  
  
  @media only screen and (max-width:1700px) and (min-width:550px) {
    html {
      font-size: 70%;
    }
  
    /* .mobnext{
        display: none;
      } */
    .EMpyClgStMobile {
      display: none;
    }
  
  }
  
  @media(max-width:1078px) {
  
    .EMpyClgbixBox {
      position: absolute;
      top: 5%;
      left: 5%;
    }
  
  }
  
  @media(max-width:1018px) {
  
    .EMpyClgbixBox {
      position: absolute;
      top: 5%;
      left: 1%;
    }
  
  }
  
  @media(max-width:950px) {
  
    .EMpyClgbixBox {
      position: absolute;
      top: 5%;
      left: 0% !important;
    }
  
  }
  
  @media(max-width:768px) {
    html {
      font-size: 70%;
    }
  
    .EMpyClgbixBox {
      position: relative;
      left: 2rem;
    }
  
  }
  
  @media only screen and (max-width: 550px) {
    body {
      background-color: white;
  
    }
  
    .EMpyClgbixBox,
    .EMpyClgbigC,
    .EMpyClgquarterC,
    .EMpyClgsmallC1,
    .EMpyClgsmallC2 {
      display: none;
    }
  
  
  }